<!DOCTYPE html>
<html>

<head>
    <title> Your Future Awaits </title>
    <!-- javascript -->
    <!-- css -->
    <link rel="stylesheet" type="text/css" href= "static/occuTable.css">
</head>

<body>
    <div class="header">
        <h3>Your chosen occupation is:<h3>
            <!-- "\safe" allows me to input HTML code into the flask variable table -->
            {{ description|safe }} <br>
        </div>
        <div class="body">
            <br><br>
            <a href = "/occupations" class = "button"> Click here to try again </a> <br><br><br>
            {{ table|safe }} <br><br>

            <a href = "/" class = "button"> Click here to go back to the main page </a><br><br><br>
        </div>
    </body>

    </html>
